body {
  background-color: #e0e0e0;
  margin:0 auto;
  width: 450px;
  
}

img {
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  width: 450px;
  
}

@media only screen and (max-width:850px){
    body{
      color:#592f8c;
      font-size: 2.3em;
	}	  

html{
    text-align: center;
    font-family: arial;
    text-align: center;
    font-size:1.30em;
    color: #ffd700;
    vertical-align: middle;
}

label {
  display: block;
  margin-top: 18px;
  background-color: #37b448;
  background-size: 250px;
  font-size: 1.3em;
  width:450px;
  
}



input {
  display: block;
  border: 1px solid green;
  border-radius: 8px;
  margin-top: 22px;
  margin-bottom: 20px;
  width: 450px;
}



p{
	color: green;
	text-align: center;
	font-size:15px;
}
	
h1 {
  font-size: 100px;
  color: green;
  text-align: center;
}

h2 {
	font-size:100px;
	color:#82b440;
	text-align: center;
}

}


  /*media queries*/
@media screen and (min-width:650px){
    body{
        margin: auto;
        padding: 20px 10px;
		background-color: red;
		font-family: "Sans-serif, Times New Roman";
    }
  
  div{
	color: gray;
	text-align: center;
	font-size:15px;
	border: 1px solid black;
 margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
}

   
}
